PowerApps/Microsoft.Flow/flows/674c19b3-cbd0-45b2-bd20-9402f7b67e66/definition.json
{"name":"c8d53d0b-d1b8-481d-9363-23fcf404ccff","id":"/providers/Microsoft.Flow/flows/c8d53d0b-d1b8-481d-9363-23fcf404ccff","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PowerAppV2 -> Create file","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/775928be-834e-40da-bde6-b48f96905a08/resourceGroups/44a1be07ba534b408c4b8a48ce5f1b0e-aeb5ca81c48040afb8800fa6943d0674/providers/Microsoft.Logic/workflows/c8d53d0b-d1b8-481d-9363-23fcf404ccff-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"aeb5ca81-c480-40af-b880-0fa6943d0674","type":"User","tenantId":"44a1be07-ba53-4b40-8c4b-8a48ce5f1b0e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-29T16:09:52.0065491Z","clientCreatedTime":"2025-09-13T20:32:00.2400072Z","connectionKeySavedTimeKey":"2026-01-17T03:27:00.7277749Z","creationSource":null,"modifiedSources":"PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"9f1eb326-0cae-487f-8e65-47bd90d3e916"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"HTML","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"DocName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"email":{"title":"Email","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"}},"required":["text","text_1","email"]}}}},"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"e9f17b27-5919-4586-8312-5a5cf05ece61"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness_1","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerApps","name":"@{triggerBody()['text_1']}.html","body":"@triggerBody()['text']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"ed45e8f6-822e-4b79-b410-c1573464697f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"ac0e7e08-c04b-43ca-80a4-ec17f9bd102d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerApps/Templates","name":"List.pdf","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Send_an_email_notification_(V3)":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"6a99206f-1bee-4d67-8096-225e5df43998"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{triggerBody()['email']};","request/subject":"@triggerBody()['text_1']","request/text":"<p>See attached @{triggerBody()['text_1']}.<br>\n<br>\nThis is an automated email.</p>","request/files":"@body('Convert_file')","request/filenames":"@outputs('Convert_file')?['headers/x-ms-file-name']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_onedriveforbusiness_1":{"connectionName":"shared-onedriveforbu-01bd1aea-b185-444f-ae3b-dda5cc9a29df","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"12ab7f1b8e234e29a7fa9a09d3ce5dfb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sendmail":{"connectionName":"shared-sendmail-1f34deee-38b6-4d9b-a763-b6c4e90b9e89","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}